#container div{
  margin:auto;
}
.tableRow :hover{
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.React-table {
    border-spacing: 5px;
    width: 50%;
    text-align: left;
}
th, td {
    padding: 25px;
}
.table-heading{
  font-size: 20px;
}
