.React-table  {
  striped: true;
}

.tableRow {
  background-color: #ccc;
  color: black;
  cursor: pointer;
}
.body .React-table .table tbody td:hover{
  background-color: #ccc;
  color: black;
  cursor: pointer;
}

